[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pre-commit = "*"

[dev-packages]
black = "==21.8b0"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
